<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{.Artist.Name}}</title>
</head>

<body>
    <a href="/">← Назад к списку</a>

    <h1>{{.Artist.Name}}</h1>

    <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}" width="300">

    <p>Год начала деятельности: {{.Artist.CreationDate}}</p>
    <p>Дата первого альбома: {{.Artist.FirstAlbum}}</p>

    <h3>Участники группы:</h3>
    <ul>
        {{range .Artist.Members}}
        <li>{{.}}</li>
        {{end}}
    </ul>

    <h3>Локации концертов:</h3>
    <ul>
        {{range .Location.Locations}}
        <li>{{.}}</li>
        {{end}}
    </ul>

    <h3>Даты концертов:</h3>
    <ul>
        {{range .Date.Dates}}
        <li>{{.}}</li>
        {{end}}
    </ul>

</body>

</html>